<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PathToFiles" value="e:\Учебный материал\Лабораторные работы\СПП\Lab №1\SPP-Lab-1\TestsGenerator\UnitTest\"/>
    <add key="OutputPath" value="e:\Учебный материал\Лабораторные работы\СПП\Lab №1\SPP-Lab-1\TestsGenerator\UnitTest\bin\Debug\netcoreapp3.1\"/>
    <add key="InputParallelismDegree" value="4"/>
    <add key="OutputParallelismDegree" value="4"/>
    <add key="ProcessingParallelismDegree" value="4"/>
  </appSettings>
</configuration>